---
import Logo from "@/components/Logo.astro";
import HeaderLink from "@/components/HeaderLink.astro";

import IconSearch from "@/components/icons/IconSearch.astro";
import IconMoon from "@/components/icons/IconMoon.astro";
---

<header>
  <Logo />
  <nav>
    <ul class="flex gap-x-8 items-center">
      <li>
        <HeaderLink>首页</HeaderLink>
      </li>
      <li>
        <HeaderLink>博客</HeaderLink>
      </li>
    </ul>
  </nav>
  <div class="flex items-center gap-x-1.5">
    <button type="button" class="p-1.5">
      <IconSearch />
    </button>
    <button type="button" class="p-1.5">
      <IconMoon />
    </button>
  </div>
</header>
